h1,
h2 {
    text-align: center;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    height: 60vh;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    align-items: center;
    border-radius: 10px;
}

.form-box {
    width: 80%;
    text-align: center;
}

.form-label {
    display: block;
}

.form-input {
    border-radius: 10px;
    width: 50%;
    padding: 5px 0 5px 5px;
}

.form-input:focus {
    outline: none;
}

.form-btn {
    border-radius: 10px;
    padding: 5px 10px;
}

.products-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.products-link a {
    text-decoration: none;
}

/* table */

table {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

td {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid #000;
}

thead {
    font-size: 25px;
}

.img {
    width: 100%;
}